<!DOCTYPE html>
<html lang="fr-FR">
<head>
    <title>Nos compétences - Terre'Eau</title>
    <meta name="description" content="">
    <meta name="keywords" content="jardiniers paysagistes seine saint denis,entretien de jardins seine saint denis,création de jardin seine saint denis">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">

    <!--[if (lt IE 9) & (!IEMobile)]>
    <link rel="stylesheet" type="text/css" href="../../dist/css/style-ie.css">
    <![endif]-->
    <link href="../../dist/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <%- include('module/_header.html') %>

    <div class="main-wrapper">
        <div class="row">
            <div class="col-12">
                <div class="container">
                    <h1>Nos compétences</h1>
                    <p class="text">
                        La S.A.R.L TERR'EAU aménage et réalise la création et l'entretien de jardins et d'espaces verts.
                        <br>
                        <br>- Entretien parcs et jardins
                        <br>- Allée gravillonnée
                        <br>- Entretien de résidences et de copropriétés
                        <br>- Débroussaillage et tonte
                        <br>- Arrosage automatique
                        <br>- Taille de végétaux
                        <br>- Gazon de semis ou de placage
                        <br>- Entretien et réalisation de bassins
                        <br>- Agencement paysager
                        <br>- Massifs fleuris, rocaille
                        <br>- Bordures et maçonnerie paysagère
                        <br>- Elagage et abattage
                        <br>- Apport et enlèvement de terre (terreau, terre de bruyère, etc )
                        <br>- Nettoyage haute-pression
                        <br>- Remise en état
                        <br>- Palissades, clôtures
                    </p>
                </div>
            </div>
        </div>

        <%- include('module/_footer.html') %>
    </div>
</body>
</html>