<!DOCTYPE html>
<html lang="fr-FR">
<head>
    <title>Terre'Eau - Jardiniers paysagistes en Seine-Saint-Denis, entretien des espaces verts</title>
    <meta name="description" content="">
    <meta name="keywords" content="jardiniers paysagistes seine saint denis,entretien de jardins seine saint denis,création de jardin seine saint denis">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">

    <!--[if (lt IE 9) & (!IEMobile)]>
    <link rel="stylesheet" type="text/css" href="../../dist/css/style-ie.css">
    <![endif]-->
    <link href="../../dist/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <%- include('module/_header.html') %>

    <div class="main-wrapper">
        <div class="row">
            <div class="col-12">
                <div class="container">
                    <h1>Nous contacter</h1>
                    <p class="text">
                        Toute notre équipe est à votre disposition pour tout renseignement.
                    </p>

                    <div class="contact">
                        <p class="text">
                            <strong>Terr'eau</strong>
                            <br>
                            <br>50, Avenue René Faugeras
                            <br>93220 GAGNY
                            <br>
                            <br>Tél. : 01 49 32 00 63
                            <br>Fax : 01 49 31 04 04
                            <br>Email : <a class="link" href="mailto:jardinier@terr-eau.com">jardinier@terr-eau.com</a>
                        </p>
                        <iframe class="embed" width="450" height="300" marginheight="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2624.386098991375!2d2.562767415674784!3d48.869915779288625!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e611ec9d040719%3A0x41eb17e8cfe24ada!2s50+Avenue+Ren%C3%A9+Faugeras%2C+93220+Gagny!5e0!3m2!1sfr!2sfr!4v1516181826426" frameborder="0" width="450" marginwidth="0" scrolling="no"></iframe>
                    </div>

                    <%- include('module/_footer.html') %>
                </div>
            </div>
        </div>
    </div>
</body>
</html>