<!DOCTYPE html>
<html lang="fr-FR">
<head>
    <title>Terr'Eau - Jardiniers paysagistes en Seine-Saint-Denis, entretien des espaces verts</title>
    <meta name="description" content="">
    <meta name="keywords" content="jardiniers paysagistes seine saint denis,entretien de jardins seine saint denis,création de jardin seine saint denis">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">

    <!--[if (lt IE 9) & (!IEMobile)]>
    <link rel="stylesheet" type="text/css" href="../../dist/css/style-ie.css">
    <![endif]-->
    <link href="../../dist/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<%- include('module/_header.html', { current: 'contact' }); %>

    <div class="main-wrapper">
        <div class="container">
            <header class="section-header">
                <h1 class="title">Nous contacter</h1>
            </header>

            <p class="text">
                Toute notre équipe est à votre disposition pour tout renseignement.
            </p>
            <section class="contact-section">
                <div class="contact-section-text">
                    <img class="logo" src="../../dist/img/logo-415x60.png" width="415" height="60" alt="Sarl Terr'eau"/>
                    <br>50, Avenue René Faugeras
                    <br>93220 GAGNY
                    <br>
                    <br>Tél. : 01 49 32 00 63
                    <br>Fax : 01 49 31 04 04
                    <br>Email : <a class="link" href="mailto:jardinier@terr-eau.com">jardinier@terr-eau.com</a>
                </div>
                <iframe class="contact-section-map" width="450" height="400" marginheight="0" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10497.54434965964!2d2.564956!3d48.869916!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x92f8ddcacd9219a9!2sSARL+TERR&#39;EAU!5e0!3m2!1sfr!2sfr!4v1520881182702" frameborder="0" marginwidth="0" scrolling="no"></iframe>
            </section>
        </div>

        <%- include('module/_footer.html') %>
    </div>

    <script src="../../dist/js/script.js" type="text/javascript"></script>
</body>
</html>