<!DOCTYPE html>
<html lang="fr-FR">
<head>
    <title>Terre'Eau - Jardiniers paysagistes en Seine-Saint-Denis, entretien des espaces verts</title>
    <meta name="description" content="">
    <meta name="keywords" content="jardiniers paysagistes seine saint denis,entretien de jardins seine saint denis,création de jardin seine saint denis">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">

    <!--[if (lt IE 9) & (!IEMobile)]>
    <link rel="stylesheet" type="text/css" href="../../dist/css/style-ie.css">
    <![endif]-->
    <link href="../../dist/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <%- include('module/_header.html') %>

    <div class="main-wrapper">
        <div class="row">
            <div class="col-12">
                <div class="container">
                    <h1>Demande de devis</h1>
                    <p class="text">
                        Pour toute demande de devis, veuillez compléter le formulaire ci-dessous. Nous vous répondrons dans les meilleurs délais.
                    </p>

                    <section class="contact-section">
                        <form data-role="form-contact" name="form-contact" action="devis.html" method="post">
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <input id="name" name="name" class="form-control" placeholder="Votre nom"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <input type="email" id="email" name="email" class="form-control" placeholder="Votre email"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <input id="phoneNumber" name="phoneNumber" class="form-control" placeholder="Votre numéro de téléphone"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <input id="street" name="street" class="form-control" placeholder="Votre adresse"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-9">
                                    <input id="city" name="city" class="form-control" placeholder="Ville"/>
                                </div>
                                <div class="col-sm-3">
                                    <input id="zipCode" name="zipCode" class="form-control" placeholder="Code postal"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <textarea id="message" name="message" class="form-control" rows="10" placeholder="Votre demande"></textarea>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <button type="submit" class="btn btn-primary center-block btn-submit">Envoyer</button>
                                </div>
                            </div>
                        </form>
                    </section>
                </div>
            </div>
        </div>

        <%- include('module/_footer.html') %>
    </div>

    <script src="../../dist/js/script.js" type="text/javascript"></script>
</body>
</html>