<!DOCTYPE html>
<html lang="fr-FR">
<head>
    <title>Terre'Eau - Jardiniers paysagistes en Seine-Saint-Denis, entretien des espaces verts</title>
    <meta name="description" content="">
    <meta name="keywords" content="jardiniers paysagistes seine saint denis,entretien de jardins seine saint denis,création de jardin seine saint denis">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">

    <link href="../../dist/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <%- include('module/_header.html') %>

    <div class="main-wrapper">
        <div class="row">
            <div class="col-12">
                <div class="container">
                    <h1>Présentation</h1>
                    <p class="text">
                        Depuis 2007, la société Terr'eau est au service des particuliers et des professionnels, située à Gagny (93 Seine Saint-Denis), elle intervient sur toute l'Ile de France.
                        <br>
                        <br>Elle contribue à la réalisation de vos jardins et vous propose également de les entretenir au fil des saisons, afin qu'ils révèlent au mieux leur vraie nature.
                        <br>
                        <br>Sur le terrain, les 2 cogérants sont à votre écoute pour vous servir et vous conseiller.
                        <br>
                        <br>Nos études et nos prestations, à partir d'un <a class="link" href="#">devis gratuit</a> personnalisé et précis, sont réalisées avec sérieux et compétences par notre équipe dans le respect des délais et de l'environnement.
                    </p>

                    <%- include('module/_footer.html') %>
                </div>
            </div>
        </div>
    </div>
</body>
</html>