<!DOCTYPE html>
<html lang="fr-FR">
<head>
    <title>Nos réalisations - Terre'Eau</title>
    <meta name="description" content="">
    <meta name="keywords" content="jardiniers paysagistes seine saint denis,entretien de jardins seine saint denis,création de jardin seine saint denis">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">

    <!--[if (lt IE 9) & (!IEMobile)]>
    <link rel="stylesheet" type="text/css" href="../../dist/css/style-ie.css">
    <![endif]-->
    <link href="../../dist/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <%- include('module/_header.html', { current: 'realisations' }); %>

    <div class="main-wrapper">
        <div class="container">
            <h1>Nos réalisations</h1>

            <section class="mosaic-section">
                <div class="col-xs-12">
                    <a href="#" class="item">
                        <img src="../../dist/img/realisations/remise-en-etat-879x440.jpg" width="879" height="440" alt=""/>
                        <span class="tag">Remise en état</span>
                    </a>
                </div>
                <div class="col-xs-12">
                    <a href="#" class="item">
                        <img src="../../dist/img/realisations/gazon-879x440.jpg" width="879" height="440" alt=""/>
                        <span class="tag">Gazon</span>
                    </a>
                </div>
                <div class="col-xs-12">
                    <a href="#" class="item">
                        <img src="../../dist/img/realisations/creation-879x440.jpg" width="879" height="440" alt=""/>
                        <span class="tag">Création</span>
                    </a>
                </div>
                <div class="col-xs-12">
                    <a href="#" class="item">
                        <img src="../../dist/img/realisations/elagage-abattage-879x440.jpg" width="879" height="440" alt=""/>
                        <span class="tag">Elagage / Abattage</span>
                    </a>
                </div>
            </section>
        </div>

        <%- include('module/_footer.html') %>
    </div>

    <script src="../../dist/js/script.js" type="text/javascript"></script>
</body>
</html>