<header class="main-header" data-role="main-header">
    <nav class="main-nav">
        <div class="nav-item nav-toggler" data-role="nav-toggler">
            <div class="nav-text">
                <div class="burger">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
        <div class="nav-item logo">
            <a class="nav-text" href="index.html" title="Sarl Terr'eau">
                <img src="../../dist/img/logo-520x105.png" width="520" height="105" alt="Logo Sarl Terr'eau"/>
            </a>
        </div>
        <div class="nav-list">
            <div class="nav-item <%= locals.current == 'activites' ? 'active' : '' %>">
                <a class="nav-text" href="activites.html">Activités</a>
            </div>
            <div class="nav-item <%= locals.current == 'realisations' ? 'active' : '' %>">
                <a class="nav-text" href="realisations.html">Réalisations</a>
            </div>
            <div class="nav-item <%= locals.current == 'devis' ? 'active' : '' %>">
                <a class="nav-text" href="devis.html">Demande de devis</a>
            </div>
            <div class="nav-item <%= locals.current == 'contact' ? 'active' : '' %>">
                <a class="nav-text" href="contact.html">Contact</a>
            </div>
        </div>
    </nav>
    <div class="nav-slide-backdrop" data-role="nav-backdrop"></div>
    <div class="nav-slide" data-role="nav-slide">
        <div class="nav-item <%= locals.current == 'activites' ? 'active' : '' %>">
            <a class="nav-text" href="activites.html">Activités</a>
        </div>
        <div class="nav-item <%= locals.current == 'realisations' ? 'active' : '' %>">
            <a class="nav-text" href="realisations.html">Réalisations</a>
        </div>
        <div class="nav-item <%= locals.current == 'devis' ? 'active' : '' %>">
            <a class="nav-text" href="devis.html">Demande de devis</a>
        </div>
        <div class="nav-item <%= locals.current == 'contact' ? 'active' : '' %>">
            <a class="nav-text" href="contact.html">Contact</a>
        </div>
    </div>
</header>