// COLORS
$white: #ffffff;

$black: #1f1f1f;

$green: #4A9C16;
$green-dark: #3F8613;
$green-light: #55B219;

$grey: #ebebeb;
$grey-dark: #e1e1e1;
$grey-light: #f5f5f5;

// HEIGHTS
$main-header-height: 60px;