// COLORS
$white: #ffffff;

$black: #1f1f1f;

$green: #017601;
$green-dark: #015d01;
$green-light: #018f01;

$grey: #ebebeb;
$grey-dark: #bcbcbc;
$grey-light: #ededed;

// HEIGHTS
$main-header-height: 60px;