.contact-section {
	display: block;
	max-width: 800px;
	margin: 50px auto 0;

	.text {
		font-size: 16px;
		text-align: center;
		line-height: normal;
	}

	iframe.embed {
		display: block;
		margin: 20px auto 0;
		width: 100%;
		max-width: 450px;
	}
}

@media (min-width: 900px) {
	.contact-section {
		.text {
			display: inline-block;
			padding: 60px;
			line-height: unset;
			margin-bottom: 0;
		}

		iframe.embed {
			float: right;
			margin: 0;
		}
	}
}