.contact-section {
	display: block;
    margin: 50px auto 0;
	padding-left: 20px;
	padding-right: 20px;

	&-text {
		display: inline-block;
		width: 40%;
		padding: 110px 0;
		margin: auto;
		font-size: 16px;
		text-align: center;

		.logo {
			height: 50px;
			width: auto;
		}
	}

	&-map {
		width: 60%;
		float: right;
		margin: 0;
	}
}

@media (max-width: 900px) {
	.contact-section {
		padding-left: 0;
		padding-right: 0;

		&-text {
			display: block;
			width: 100%;
			padding: 0;
			line-height: normal;
		}

		&-map {
			display: block;
			width: 100%;
			float: none;
			margin: 20px auto 0;
			max-width: 100%;
		}
	}
}