.footer {
	display: block;
	margin-top: 40px;
	padding: 20px 30px;
	background-color: $grey-dark;
	line-height: 26px;
	font-size: 16px;
	font-weight: bold;

	.left {
		float: left;
		text-align: left;
		width: 50%;
	}

	.right {
		text-align: right;
		display: inline-block;
		width: 50%;
	}

	.logo {
		height: 30px;
		width: auto;
	}

	.address {
		display: block;
		margin-top: 10px;
	}

	.baseline {
		max-width: 100%;
		height: auto;
	}

	.mention {
		display: block;
		font-weight: normal;
		font-style: italic;
		color: $green;
	}

	.unep {
		margin-top: 50px;

		img {
			position: relative;
			max-width: 100%;
			width: 450px;
			height: auto;
		}
	}
}

@media (max-width: 900px) {
	.footer {
		.left {
			display: block;
			width: 100%;
			text-align: center;
			float:none;
		}

		.right {
			display: block;
			width: 100%;
			text-align: center;
		}

		.baseline {
			margin-top: 20px;
		}

		.unep {
			margin-top: 20px;
		}
	}
}