.footer {
	display: block;
	margin-top: 40px;
	padding: 20px 30px;
	background-color: $grey-dark;

	.slogan {
		display: block;
		font-family: 'Brush Script MT', Arial, Verdana, sans-serif;
		font-size: 36px;
		color: $green;
		text-align: right;
		margin-bottom: 20px;
	}

	.text {
		display: inline-block;
		text-align: left;
		line-height: 26px;
		font-size: 16px;
		font-weight: bold;

		&.right {
			float: right;
			text-align: right;
		}
	}
}

@media (max-width: 900px) {
	.footer {
		.slogan {
			text-align: center;
		}

		.text {
			display: block;
			text-align: center;

			&.right {
				float: none;
				text-align: center;
			}
		}
	}
}