.header {
	display: block;
	overflow: hidden;
	background: #6d972b;
	width:100%;
	height: auto;
	padding: 0 30px;
}

.header .logo {
	text-align: center;
}

.header .logo img {
	height: 60px;
}

.header .main-nav {
	margin-top: 5px;
	text-align: center;
}

.header .item {
	display: inline-block;
	padding: 0 10px;
	line-height: 40px;
	font-size: 14px;
	text-transform: uppercase;
	color: #ffffff;
}

.header .item:hover {
	background: initial;
	text-decoration: underline;
}

@media (min-width: 900px) {
	.header {
		padding: 0 0 0 50px;
	}

	.header .logo {
		float: left;
		text-align: left;
	}

	.header .main-nav {
		margin-top: 0;
	}

	.header .item {
		line-height: 60px;
	}

	.header .item:hover {
		background: #4f6b24;
		text-decoration: none;
	}
}

@media (min-width: 1100px) {
	.header .item {
		font-size: 16px;
		padding: 0 15px;
	}
}