.mosaic-section {
	display: block;
	margin: auto;
	text-align: center;

	.item {
		display: block;
		padding-bottom: 20px;

		img {
			width: 100%;
			height: auto;
		}
	}

	.title {
		display: block;
		margin-top: 5px;
		text-align: center;
		font-weight:bold;
		color: $black;
	}
}