.mosaic-section {
	display: block;
	margin: auto;
	max-width: 960px;

	.item {
		position: relative;
		display: block;
		margin-bottom: 20px;

		img {
			display: block;
			width: 100%;
			height: auto;
		}

		.list-item {
			background-color: $grey;
			display: block;
			height: 300px;
			padding: 10px 20px;
			list-style: none;

			li {
				line-height: 32px;
			}
		}

		.title {
			display: block;
			font-weight:bold;
			color: $black;
		}

		.tag {
			position: absolute;
			top: 10px;
			left: 10px;
			padding: 10px 20px;
			background-color: $white;
			color: $green;
			font-size: 20px;
			text-transform: uppercase;

			@media (max-width: 900px) {
				font-size: 16px;
			}
		}
	}

	a.item:hover {
		filter: brightness(90%);
	}
}

@media (max-width: 650px) {
	.mosaic-section {
		.item {
			.list-item {
				height: auto;
			}
		}
	}
}