.promo {
	display: block;
	margin-top: 40px;
	max-width: 100%;
	text-align: center;

	.banner, .pave {
		max-width: 100%;
		height: auto;
	}

	.banner {
		display: inline;
	}

	.pave {
		display: none;
	}

	img {
		max-width: 100%;
	}
}


@media (max-width: 900px) {
	.promo {
		margin-top: 30px;

		.banner {
			display: none;
		}

		.pave {
			display: inline;
		}
	}
}