body {
	background-color: /*#f7f7f7*/ #FFFFFF;
	margin-top: 0px;
	margin-bottom: 10px;
}

/* style du formulaire*/

.Style9 {
	color: #333333;
}

/* Liens */

a {
	color: #6d972b;
	font-weight:bold;
}

a:hover {
	color: #4f6b24;
}


/******** Force certains styles kameleon / VEL kameleon ***********/

.txt1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: 16;
	color: #FFFFFF;
}

.txt2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: 16;
	color: #333333;
}


hr {
	color: #000066;
	height:1px;
}

li {
	color:#99CC00;
}

/*NE PAS TOUCHER*/
h1 {
	color: #999;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
}

#id_h1 {
	color:#6d972b;
	font-size:18px;
	margin:0px;
	height:48px;
	line-height:35px;
	text-transform:uppercase;
}

#id_h1 span {
	font-size:24px;
}

/*EN TETE KAMELEON*/
h2:first-letter {
	color: #99CC00;
	font-family: Georgia;
	font-size: 25px;
}
h2 {
	color: #6d972b;
	font-family: Georgia;
	font-size: 18px;
}

h3 {
	color:#99CC00;
	font-family: Trebuchet MS;
	font-size: 16px;
}



/******* Footer *******/

#footer {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	line-height: 25px;
	text-align: center;
}

#footer a {
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-decoration: none;
}

#footer a:hover {
	text-decoration: underline;
	color: #000000;
}

#adresse{
	color: #000000;
	float: left;
	width: 940px;
	font-family: Arial,Verdana, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 70px;
	height:43px;
	margin-left: 0px;
	text-align: center;	
}
#lienhaut{
	display: block;
	width: 50px;
	height: 43px;
	float: right;
}

/* BORDURES SUR IMAGES (DANS KAMELEON) - Permet de choisir d'autres couleurs que le noir */

#turquoise{border-color: aqua ;}

#noir{border-color: black ;}

#bleu{border-color: blue ;}

#rose{border-color: fuschia ;}

#orange{border-color: #FF9900 ;}

#vert{border-color: green ;}

#gris{border-color: gray ;}

#maron{border-color: maroon ;}

#olive{border-color: olive ;}

#violet{border-color: purple ;}

#rouge{border-color: red ;}

#blanc{border-color: white ;}

#jaune{border-color: yellow ;}

#bleu2{border-color: teal ;}

#argent{border-color:  #FFAB02;}

/* FIN BORDURES */


